@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.text-balance {
  text-wrap: balance;
}

body {
  @apply bg-bg text-text-primary font-body antialiased;
}
